:root {
    --purple: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

.titulo {
    font-size: 100px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    margin-top: 50px;
}

.subtitulo {
    font-size: 45px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    margin: 30px;
    margin-top: 100px;

}

/*.escolha {
    color: black;
    font-size: 50px;
    text-align: center;
    font-family: 'Graphik-Medium';
    margin: 50px;
}*/

.imagem {
    width: 900px;
    height: 300px;
    border: 2px solid #333;
    margin: 10px;
    margin-left: 280px;
    margin-top: 80px;
    /* Outros estilos personalizados */
    justify-content: center;
}